body{
font-family: Arial;
margin:0;
padding:0;

background-image:url("https://www.transparenttextures.com/patterns/arabesque.png");
background-color:#f3f6f2;
}

/* إطار الصفحة */
.container{
background:white;
width:70%;
margin:60px auto;
padding:40px;
border-radius:18px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:right;
line-height:1.9;
}

/* العنوان الرئيسي */
h1{
color:#4b5d4b;
text-align:center;
margin-bottom:30px;
}

/* عناوين الأقسام */
h2{
color:#5f6f5f;
margin-top:25px;
border-bottom:2px solid #e6e6e6;
padding-bottom:6px;
}

/* عناوين فرعية */
h3{
color:#6b7c68;
margin-top:20px;
}

/* القوائم */
ul{
margin-right:20px;
}

li{
margin:8px 0;
font-size:18px;
}

/* الأزرار */
.buttons{
text-align:center;
margin-top:20px;
}

.btn{
display:block;
width:260px;
margin:12px auto;
padding:14px;
background:#cfdcc9;
color:#2f3e2f;
text-decoration:none;
border-radius:12px;
font-size:18px;
transition:0.3s;
text-align:center;
}

.btn:hover{
background:#b7cbb0;
}

/* أسماء الطالبات */
.student{
margin-top:35px;
font-size:18px;
color:#6b7c68;
text-align:center;
}
