body{
font-family: Arial;
text-align:center;
background:#f9f7f1;
margin:0;
padding:0;
}

.container{
background:white;
width:70%;
margin:40px auto;
padding:30px;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
color:#5a6d57;
margin-bottom:30px;
}

.buttons{
margin-top:30px;
}

.btn{
display:block;
width:260px;
margin:15px auto;
padding:15px;
background:#c8d5c0;
color:#2f3e2f;
text-decoration:none;
border-radius:12px;
font-size:18px;
transition:0.3s;
}

.btn:hover{
background:#b6c8ae;
}
